<system>
	<mode>RUN</mode>
	<gpiorate>1000</gpiorate>
	<usb7204rate>1000</usb7204rate>
	<canrate>125000</canrate>

	<group>
		<name>MOTOR_CONTROLLER</name>
		<sensorid>0</sensorid>
		<sensorid>1</sensorid>
		<sensorid>2</sensorid>
		<sensorid>3</sensorid>
		<sensorid>4</sensorid>
		<sensorid>5</sensorid>
		<sensorid>18</sensorid>
	</group>
	<group>
		<name>TSI</name>
		<sensorid>8</sensorid>
		<sensorid>9</sensorid>
		<sensorid>10</sensorid>
		<sensorid>11</sensorid>
		<sensorid>19</sensorid>
		<sensorid>20</sensorid>
	</group>
	<group>
		<name>GLV</name>
		<sensorid>12</sensorid>
		<sensorid>15</sensorid>
		<sensorid>16</sensorid>
		<sensorid>17</sensorid>
	</group>
	<cansync>
		<address>1537</address>
		<data>1076174848</data>
		<bytes>4</bytes>
		<ratems>1000</ratems>
	</cansync>
	<cansync>
		<address>1537</address>
		<data>1076240385</data>
		<bytes>4</bytes>
		<ratems>1000</ratems>
	</cansync>
	<cansync>
		<address>1537</address>
		<data>1081090049</data>
		<bytes>4</bytes>
		<ratems>1000</ratems>
	</cansync>
	<cansync>
		<address>1537</address>
		<data>1082531840</data>
		<bytes>4</bytes>
		<ratems>1000</ratems>
	</cansync>
	<systemstatus>
		<name>PC_Ready</name>
		<primaddress>1365</primaddress>
		<auxaddress>0</auxaddress>
		<offset>1</offset>
		<value>1</value>
	</systemstatus>

	<systemstatus>
		<name>MC_Active</name>
		<primaddress>1365</primaddress>
		<auxaddress>1</auxaddress>
		<offset>1</offset>
		<value>1</value>
	</systemstatus>

	<systemstatus>
		<name>Brake</name>
		<primaddress>1365</primaddress>
		<auxaddress>2</auxaddress>
		<offset>1</offset>
		<value>1</value>
	</systemstatus>

	<systemstatus>
		<name>Drv_Btn</name>
		<primaddress>1365</primaddress>
		<auxaddress>3</auxaddress>
		<offset>1</offset>
		<value>1</value>
	</systemstatus>

	<systemstatus>
		<name>SLOOP</name>
		<primaddress>1365</primaddress>
		<auxaddress>4</auxaddress>
		<offset>1</offset>
		<value>1</value>
	</systemstatus>

	<systemstatus>
		<name>Throttle</name>
		<primaddress>1365</primaddress>
		<auxaddress>7</auxaddress>
		<offset>1</offset>
		<value>1</value>
	</systemstatus>

	<systemstatus>
		<name>Overcurr</name>
		<primaddress>1365</primaddress>
		<auxaddress>5</auxaddress>
		<offset>1</offset>
		<value>1</value>
	</systemstatus>

	<systemstatus>
		<name>Thr_impl</name>
		<primaddress>1365</primaddress>
		<auxaddress>6</auxaddress>
		<offset>1</offset>
		<value>1</value>
	</systemstatus>

	<responses>
		<response>
			<id>0</id>
			<description>Ignore Event</description>
		</response>
		<response>
			<id>1</id>
			<description>Writing to GPIO pin</description>
			<gpiopin>20</gpiopin>
			<gpioval>1</gpioval>
		</response>
		<response>
			<id>2</id>
			<description>Writing to CAN and GPIO</description>
			<gpiopin>4</gpiopin>
			<primaddress>123</primaddress>
			<auxaddress>0</auxaddress>
			<offset>32</offset>
			<gpioval>1</gpioval>
			<canval>345</canval>
		</response>
		<response>
			<id>3</id>
			<description>Writing to CAN</description>
			<primaddress>1291</primaddress>
			<auxaddress>0</auxaddress>
			<canval>343</canval>
		</response>
		<response>
			<id>4</id>
			<description>SCADA Relay Closed</description>
			<gpiopin>4</gpiopin>
			<gpioval>0</gpioval>
		</response>
		<response>
			<id>5</id>
			<description>SCADA Relay Opened</description>
			<gpiopin>4</gpiopin>
			<gpioval>1</gpioval>
		</response>
	</responses>
	
	<statemachine>
		<name>Drive_States</name>
            	<primaddress>1365</primaddress>
            	<auxaddress>48</auxaddress>
            	<offset>8</offset>
	    	<state>
	        	<name>Init</name>
	        	<value>0</value>
	    	</state>
	    	<state>
	        	<name>Idle</name>
	        	<value>1</value>
	    	</state>
	    	<state>
		        <name>Precharge</name>
		        <value>2</value>
	    	</state>
	    	<state>
		        <name>Drivesetup</name>
		        <value>3</value>
	    	</state>
	    	<state>
		        <name>RTDS</name>
		        <value>4</value>
	    	</state>
	    	<state>
		        <name>Drive</name>
		        <value>5</value>
	    	</state>
		<state>
			<name>Overcurrent</name>
			<value>6</value>
		</state>
		<state>
			<name>Drv Rtn</name>
			<value>8</value>
		</state>
	</statemachine>


	<sensors>
		<sensor>
			<id>0</id>
			<name>Controller Temp</name>
			<primaddress>1409</primaddress>
			<auxaddress>9760</auxaddress>
			<offset>24</offset>
			<checkrate>4000</checkrate>
			<unit>C</unit>
			<motor>1</motor>
			<minimum>0</minimum>
			<maximum>70</maximum>
			<trigger>10</trigger>			
			<minresponse>3</minresponse>
			<normresponse>3</normresponse>
			<maxresponse>3</maxresponse>
			<calmultiplier>1</calmultiplier>
		</sensor>
		<sensor>
			<id>1</id>
			<name>Motor Temp</name>
			<primaddress>1409</primaddress>
			<auxaddress>9504</auxaddress>
			<offset>24</offset>
			<checkrate>4000</checkrate>
			<unit>C</unit>
			<motor>1</motor>
			<minimum>0</minimum>
			<maximum>40</maximum>
			<minresponse>3</minresponse>
			<normresponse>3</normresponse>
			<maxresponse>3</maxresponse>
			<trigger>10</trigger>
			<calmultiplier>1</calmultiplier>
		</sensor>
		<sensor>
			<id>2</id>
			<name>DC Link Voltage</name>
			<primaddress>1409</primaddress>
			<auxaddress>31072</auxaddress>
			<offset>24</offset>
			<checkrate>4000</checkrate>
			<unit>V</unit>
			<motor>1</motor>
			<minimum>-1</minimum>
			<maximum>200</maximum>
			<minresponse>3</minresponse>
			<normresponse>3</normresponse>
			<maxresponse>3</maxresponse>
			<trigger>10</trigger>
			<calmultiplier>0.1</calmultiplier>
		</sensor>
		<sensor>
			<id>3</id>
			<name>Brake Voltage</name>
			<primaddress>1409</primaddress>
			<auxaddress>28704</auxaddress>
			<offset>24</offset>
			<checkrate>4000</checkrate>
			<unit>V</unit>
			<motor>1</motor>
			<minimum>-1</minimum>
			<maximum>100</maximum>
			<trigger>10</trigger>
			<minresponse>3</minresponse>
			<normresponse>3</normresponse>
			<maxresponse>3</maxresponse>
			<calmultiplier>0.001</calmultiplier>
		</sensor>
		<sensor>
			<id>4</id>
			<name>Velocity Filtered</name>
			<primaddress>1409</primaddress>
			<auxaddress>34592</auxaddress>
			<offset>24</offset>
			<checkrate>4000</checkrate>
			<unit>RPM</unit>
			<motor>1</motor>
			<minimum>-2000</minimum>
			<maximum>2000</maximum>
			<trigger>10</trigger>
			<calmultiplier>0.0002</calmultiplier>
		</sensor>
		<sensor>
			<id>5</id>
			<name>Throttle Voltage</name>
			<primaddress>1409</primaddress>
			<auxaddress>34336</auxaddress>
			<offset>24</offset>
			<checkrate>4000</checkrate>
			<unit>V</unit>
			<motor>1</motor>
			<minimum>-1</minimum>
			<maximum>6</maximum>
			<trigger>10</trigger>
			<minresponse>3</minresponse>
			<normresponse>3</normresponse>
			<maxresponse>3</maxresponse>
			<calmultiplier>0.001</calmultiplier>
		</sensor>
		<sensor>
			<id>8</id>
			<name>Cooling Temp1</name>
			<primaddress>1365</primaddress>
			<auxaddress>24</auxaddress>
			<offset>8</offset>
			<checkrate>4000</checkrate>
			<motor>0</motor>
			<unit>C</unit>
			<minimum>0</minimum>
			<maximum>100</maximum>
			<trigger>10</trigger>
			<minresponse>3</minresponse>
			<normresponse>3</normresponse>
			<maxresponse>3</maxresponse>
			<calmultiplier>1</calmultiplier>
			<calpoly>
				<coef>0</coef>
				<coef>1</coef>
			</calpoly>
		</sensor>
		<sensor>
			<id>9</id>
			<name>Cooling Temp2</name>
			<primaddress>1365</primaddress>
			<auxaddress>32</auxaddress>
			<offset>8</offset>
			<checkrate>4000</checkrate>
			<motor>0</motor>
			<unit>C</unit>
			<minimum>0</minimum>
			<maximum>100</maximum>
			<trigger>10</trigger>
			<calmultiplier>1</calmultiplier>
			<calpoly>
				<coef>0</coef>
				<coef>1</coef>
			</calpoly>
		</sensor>
		<sensor>
			<id>10</id>
			<name>Flow Rate</name>
			<primaddress>1365</primaddress>
			<auxaddress>40</auxaddress>
			<precision>1</precision>
			<offset>8</offset>
			<checkrate>4000</checkrate>
			<motor>0</motor>
			<unit>L/m</unit>
			<minimum>2</minimum>
			<maximum>100</maximum>
			<reciprocol>1</reciprocol>
			<trigger>10</trigger>
			<calmultiplier>1</calmultiplier>
			<calpoly>
				<coef>0.0</coef>
				<coef>757.5</coef>
			</calpoly>
		</sensor>
		<sensor>
			<id>11</id>
			<name>HV Current</name>
			<primaddress>1365</primaddress>
			<auxaddress>56</auxaddress>
			<precision>2</precision>
			<offset>8</offset>
			<checkrate>4000</checkrate>
			<motor>0</motor>
			<unit>A</unit>
			<minimum>-100</minimum>
			<maximum>300</maximum>
			<minresponse>3</minresponse>
			<normresponse>3</normresponse>
			<maxresponse>3</maxresponse>
			<calmultiplier>1</calmultiplier>
			<trigger>10</trigger>
			<calconstant>0</calconstant>
		</sensor>
		<sensor>
			<id>12</id>
			<name>GLVCurrent</name>
			<i2caddress>64</i2caddress>
			<i2creadpointer>4</i2creadpointer>
			<i2cconfigdata>2572544</i2cconfigdata>
			<i2cconfigdata>2565</i2cconfigdata>
			<i2cdatafield>16</i2cdatafield>
			<i2creaddelayus>20000</i2creaddelayus>
			<checkrate>3000</checkrate>
			<unit>A</unit>
			<minimum>0</minimum>
			<maximum>10</maximum>
			<calmultiplier>0.001</calmultiplier>
		</sensor>
		<sensor>
			<id>15</id>
			<name>GLVTemp</name>
			<i2caddress>16</i2caddress>
			<i2creadpointer>64</i2creadpointer>
			<i2cconfigdata>523</i2cconfigdata>
			<i2cconfigdata>260</i2cconfigdata>
			<i2cconfigdata>770</i2cconfigdata>
			<i2cdatafield>12</i2cdatafield>
			<i2creaddelayus>20</i2creaddelayus>
			<checkrate>5000</checkrate>
			<unit>C</unit>
			<minimum>0</minimum>
			<maximum>50</maximum>
			<normresponse>4</normresponse>
			<maxresponse>5</maxresponse>
			<trigger>10</trigger>
			<calconstant>-283.97</calconstant>
			<calmultiplier>0.37679</calmultiplier>
		</sensor>
		<sensor>
			<id>16</id>
			<name>GLVVoltage</name>
			<i2caddress>64</i2caddress>
			<i2creadpointer>2</i2creadpointer>
			<i2cconfigdata>2572544</i2cconfigdata>
			<i2cdatafield>16</i2cdatafield>
			<i2creaddelayus>20000</i2creaddelayus>
			<checkrate>5000</checkrate>
			<unit>V</unit>
			<minimum>12</minimum>
			<trigger>10</trigger>
			<maximum>25</maximum>
			<calmultiplier>0.00125</calmultiplier>
		</sensor>
		<sensor>
			<id>17</id>
			<name>GLVPower</name>
			<i2caddress>64</i2caddress>
			<i2creadpointer>3</i2creadpointer>
			<i2cconfigdata>2572544</i2cconfigdata>
			<i2cconfigdata>2565</i2cconfigdata>
			<i2cdatafield>16</i2cdatafield>
			<i2creaddelayus>20000</i2creaddelayus>
			<checkrate>5000</checkrate>
			<unit>W</unit>
			<minimum>0</minimum>
			<trigger>10</trigger>
			<maximum>175</maximum>
			<calmultiplier>0.025</calmultiplier>
		</sensor>
		<sensor>
			<id>18</id>
			<name>Dyno Pump Torque</name>
			<checkrate>5000</checkrate>
			<minimum>-500</minimum>
			<maximum>500</maximum>
			<unit>Nm</unit>
			<minresponse>5</minresponse>
			<normresponse>4</normresponse>
			<maxresponse>5</maxresponse>
			<calmultiplier>101.7018</calmultiplier>
			<trigger>10</trigger>
			<calconstant>145.5199</calconstant>
			<usbchannel>1</usbchannel>
		</sensor>
		<sensor>
			<id>19</id>
			<name>MC_Voltage</name>
			<primaddress>1365</primaddress>
			<auxaddress>8</auxaddress>
			<offset>8</offset>
			<checkrate>4000</checkrate>
			<unit>V</unit>
			<minimum>-10</minimum>
			<maximum>175</maximum>
			<minresponse>0</minresponse>
			<normresponse>4</normresponse>
			<maxresponse>5</maxresponse>
			<trigger>10</trigger>
			<calmultiplier>3.14</calmultiplier>
			<calconstant>-176.39</calconstant>
		</sensor>
		<sensor>
			<id>20</id>
			<name>TS_Voltage</name>
			<primaddress>1365</primaddress>
			<auxaddress>16</auxaddress>
			<offset>8</offset>
			<checkrate>4000</checkrate>
			<unit>V</unit>
			<minimum>-10</minimum>
			<maximum>175</maximum>
			<minresponse>0</minresponse>
			<normresponse>4</normresponse>
			<maxresponse>5</maxresponse>
			<trigger>10</trigger>
			<calmultiplier>3.14</calmultiplier>
			<calconstant>-176.39</calconstant>
		</sensor>
		<sensor>
			<id>21</id>
			<name>NumberTen</name>
			<primaddress>1430</primaddress>
			<auxaddress>0</auxaddress>
			<offset>8</offset>
			<checkrate>4000</checkrate>
			<main>1</main>
			<unit>V</unit>
			<minimum>-1</minimum>
			<maximum>100</maximum>
			<minresponse>0</minresponse>
			<maxresponse>0</maxresponse>
			<calmultiplier>1</calmultiplier>
		</sensor>
		<sensor>
			<id>22</id>
			<name>ThrottleVoltage</name>
			<primaddress>1430</primaddress>
			<auxaddress>8</auxaddress>
			<offset>8</offset>
			<checkrate>4000</checkrate>
			<main>1</main>
			<unit>V</unit>
			<minimum>-1</minimum>
			<maximum>100</maximum>
			<minresponse>0</minresponse>
			<maxresponse>0</maxresponse>
			<calmultiplier>1</calmultiplier>
		</sensor>
	</sensors>
</system>
